<?xml version="1.0" encoding="utf-8"?>
<robot name="dvrk_psm_049_tip" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="PSM_tool_tip_049" params="prefix parent_link">
    <joint name="jaw" type="revolute">
      <parent link="${parent_link}"/>
      <child link="${prefix}jaw_link"/>
      <axis xyz="0.0 0.0 1"/>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <limit lower="-0.349066" upper="1.5708" velocity=".4" effort="1000"/>
    </joint>

    <link name="${prefix}jaw_link">
      <visual>
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
        <geometry><box size="0 0 0"/></geometry>
      </visual>
    </link>

    <joint name="jaw_1" type="revolute">
      <parent link="${parent_link}"/>
      <child link="${prefix}jaw_1_link"/>
      <axis xyz="0.0 0.0 1"/>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <limit lower="-0.349066" upper="1.5708" velocity=".4" effort="1000"/>
      <mimic joint="jaw" multiplier="0.5"/>
    </joint>

    <link name="${prefix}jaw_1_link">
      <visual>
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.00195"/>
        <geometry>
          <mesh filename="package://dvrk_model/meshes/instruments/Classic/tip/PSM_049_jaw.stl"/>
        </geometry>
      </visual>
    </link>

    <joint name="jaw_2" type="revolute">
      <parent link="${parent_link}"/>
      <child link="${prefix}jaw_2_link"/>
      <axis xyz="0.0 0.0 1"/>
      <origin rpy="${PI} 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <limit lower="-0.349066" upper="1.5708" velocity=".4" effort="1000"/>
      <mimic joint="jaw" multiplier="0.5"/>
    </joint>

    <link name="${prefix}jaw_2_link">
      <visual>
        <origin rpy="0.0 0.0 -${PI}" xyz="0.0 0.0 0.00195"/>
        <geometry>
          <mesh filename="package://dvrk_model/meshes/instruments/Classic/tip/PSM_049_jaw.stl"/>
        </geometry>
      </visual>
    </link>

    <joint name="tool_tip" type="fixed">
      <parent link="${parent_link}"/>
      <child link="${prefix}tool_tip_link"/>
      <origin rpy="0.0 ${PI_2} ${PI_2}" xyz="0.0 0.0 0.0"/>
    </joint>
    <link name="${prefix}tool_tip_link"/>
  </xacro:macro>

</robot>