<?xml version="1.0" ?>
<robot name="PSM3" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="instrument"   default="420006"/>
  <xacro:arg name="is_virtual"  default="true"/>
  <xacro:arg name="parent_link_" default="world"/>
  <xacro:arg name="adaptor_offset" default="0.4826"/>
  <xacro:arg name="rcm_xyz"      default="0 0 0"/>
  <xacro:arg name="rcm_rpy"      default="0 0 0"/>
  <xacro:property name="parent_link" value="$(arg parent_link_)"/>

  <xacro:include filename="$(find dvrk_model)/urdf/Virtual/PSM_base_virtual.urdf.xacro"/>
  <xacro:include filename="$(find dvrk_model)/urdf/common/instrument.urdf.xacro"/>

  <link name="${parent_link}"/>

  <xacro:base_virtual prefix="PSM3_"
                          parent_link="${parent_link}"
                          adaptor_offset="$(arg adaptor_offset)"
                          rcm_xyz="$(arg rcm_xyz)"
                          rcm_rpy="$(arg rcm_rpy)"/>

  <xacro:instrument prefix="PSM3_"
                        instrument="$(arg instrument)"
                        is_virtual="$(arg is_virtual)"/>

</robot>
