<?xml version="1.0" encoding="utf-8"?>
<robot name="dvrk_psm_housing" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="PSM_instrument_housing"
               params="prefix parent_link housing_family:=Classic">
    <xacro:property name="is_si_housing" value="${housing_family == 'Si'}"/>
    <joint name="instrument_base_fixed" type="fixed">
      <parent link="${parent_link}"/>
      <child  link="${prefix}instrument_base_link"/>
      <origin rpy="-1.5708 0.0 -1.5708" xyz="0.0 0.0 0.0"/>
    </joint>

    <link name="${prefix}instrument_base_link">
      <visual>
        <xacro:if value="${is_si_housing}">
          <origin rpy="-1.5708 0.0 -1.5708" xyz="0.0 0.0 0.0"/>
          <geometry>
            <mesh filename="package://dvrk_model/meshes/instruments/Si/housing/PSM_housing.OBJ"/>
          </geometry>
        </xacro:if>
        <xacro:unless value="${is_si_housing}">
          <origin rpy="0.0 0.0 1.5708" xyz="0.0 0.0 0.0904"/>
          <geometry>
            <mesh filename="package://dvrk_model/meshes/instruments/Classic/housing/PSM_housing.dae"/>
          </geometry>
        </xacro:unless>
      </visual>
      <collision>
        <xacro:if value="${is_si_housing}">
          <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
          <geometry>
            <mesh filename="package://dvrk_model/meshes/instruments/Si/housing/PSM_housing.OBJ"/>
          </geometry>
        </xacro:if>
        <xacro:unless value="${is_si_housing}">
          <origin rpy="0.0 0.0 1.5708" xyz="0.0 0.0 0.0904"/>
          <geometry>
            <mesh filename="package://dvrk_model/meshes/instruments/Classic/housing/PSM_housing.dae"/>
          </geometry>
        </xacro:unless>
      </collision>
    </link>

  </xacro:macro>

</robot>