<?xml version="1.0" encoding="utf-8"?>
<robot name="dvrk_psm_body" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="PSM_instrument_body" params="prefix parent_link is_si:=false roll_origin">
    <joint name="instrument_base_fixed" type="fixed">
      <parent link="${parent_link}"/>
      <child  link="${prefix}instrument_base_link"/>
      <origin rpy="-1.5708 0 -1.5708" xyz="0 0 0"/>
    </joint>

    <link name="${prefix}instrument_base_link">
      <visual>
        <xacro:if value="${is_si}">
          <origin rpy="-1.5708 0 -1.5708" xyz="0 0 0"/>
          <geometry>
            <mesh filename="package://dvrk_model/meshes/instruments/Si/housing/PSM_housing.OBJ"/>
          </geometry>
        </xacro:if>
        <xacro:unless value="${is_si}">
          <origin rpy="0 0 1.5708" xyz="0 0 0.0904"/>
          <geometry>
            <mesh filename="package://dvrk_model/meshes/instruments/Classic/housing/PSM_housing.dae"/>
          </geometry>
        </xacro:unless>
      </visual>
      <collision>
        <xacro:if value="${is_si}">
          <origin rpy="0 0 0" xyz="0 0 0"/>
          <geometry>
            <mesh filename="package://dvrk_model/meshes/instruments/Si/housing/PSM_housing.OBJ"/>
          </geometry>
        </xacro:if>
        <xacro:unless value="${is_si}">
          <origin rpy="0 0 1.5708" xyz="0 0 0.0904"/>
          <geometry>
            <mesh filename="package://dvrk_model/meshes/instruments/Classic/housing/PSM_housing.dae"/>
          </geometry>
        </xacro:unless>
      </collision>
    </link>

    <joint name="roll" type="revolute">
      <parent link="${parent_link}"/>
      <child  link="${prefix}roll_link"/>
      <axis xyz="0 0 1"/>
      <origin rpy="0 0 0" xyz="0 0 ${roll_origin}"/>
      <limit lower="-4.53786" upper="4.53786" velocity=".4" effort="1000"/>
    </joint>

    <link name="${prefix}roll_link">
      <visual>
        <xacro:if value="${is_si}">
          <origin rpy="0 0 0" xyz="0 0 -0.216"/>
          <geometry>
            <mesh filename="package://dvrk_model/meshes/instruments/Si/roll/PSM_roll_8mm.OBJ"/>
          </geometry>
          <material name=""><color rgba="0.79216 0.81961 0.93333 1"/></material>
        </xacro:if>
      </visual>
      <collision>
        <xacro:if value="${is_si}">
          <origin rpy="0 0 0" xyz="0 0 -0.216"/>
          <geometry>
            <mesh filename="package://dvrk_model/meshes/instruments/Si/roll/PSM_roll_8mm.OBJ"/>
          </geometry>
        </xacro:if>
      </collision>
    </link>

    <joint name="roll_fixed" type="fixed">
      <parent link="${prefix}roll_link"/>
      <child  link="${prefix}roll_housing_link"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </joint>

    <link name="${prefix}roll_housing_link">
      <visual>
        <xacro:unless value="${is_si}">
          <origin rpy="0 0 1.5708" xyz="0 0 -0.0091"/>
          <geometry>
            <mesh filename="package://dvrk_model/meshes/instruments/Classic/roll/PSM_roll.dae"/>
          </geometry>
        </xacro:unless>
      </visual>
      <collision>
        <xacro:unless value="${is_si}">
          <origin rpy="0 0 1.5708" xyz="0 0 -0.0091"/>
          <geometry>
            <mesh filename="package://dvrk_model/meshes/instruments/Classic/roll/PSM_roll.dae"/>
          </geometry>
        </xacro:unless>
      </collision>
    </link>

    <joint name="shaft_fixed" type="fixed">
      <parent link="${prefix}roll_housing_link"/>
      <child  link="${prefix}shaft_link"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </joint>

    <link name="${prefix}shaft_link">
      <visual>
        <xacro:unless value="${is_si}">
          <origin rpy="${PI_2} 0 0" xyz="0 0.00401 0"/>
          <geometry>
            <mesh filename="package://dvrk_model/meshes/instruments/Classic/yaw/PSM_yaw.dae"/>
          </geometry>
        </xacro:unless>
      </visual>
      <collision>
        <xacro:unless value="${is_si}">
          <origin rpy="${PI_2} 0 0" xyz="0 0.00401 0"/>
          <geometry>
            <mesh filename="package://dvrk_model/meshes/instruments/Classic/yaw/PSM_yaw.dae"/>
          </geometry>
        </xacro:unless>
      </collision>
    </link>
  </xacro:macro>

</robot>