<?xml version="1.0" encoding="utf-8"?>
<robot name="dvrk_instrument_wrist_yaw_0112" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find dvrk_model)/urdf/common.urdf.xacro"/>

  <xacro:macro name="wrist_yaw_0112" params="prefix">
    <joint name="wrist_yaw" type="revolute">
      <parent link="${prefix}wrist_pitch_link"/>
      <child link="${prefix}wrist_yaw_link"/>
      <axis xyz="0.0 0.0 1"/>
      <origin rpy="-${PI_2} -${PI_2} 0.0" xyz="0.0112 0.0 0.0"/>
      <limit lower="-1.39626" upper="1.39626" velocity=".4" effort="1000"/>
    </joint>

    <link name="${prefix}wrist_yaw_link">
      <visual>
        <origin rpy="${PI} 0.0 ${PI}" xyz="0.0 -0.0126 0.0"/>
        <geometry>
          <mesh filename="package://dvrk_model/meshes/instruments/wrist_yaw/0112/wrist_yaw_0112.obj" scale="0.1 0.1 0.1"/>
        </geometry>
      </visual>
      <!-- Uncomment this block to show wrist_yaw_link frame triad in RViz -->
      <!--
      <visual>
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
        <geometry>
          <sphere radius="0.0008"/>
        </geometry>
        <material name="wrist_yaw_frame_origin">
          <color rgba="1.0 0.8 0.0 1.0"/>
        </material>
      </visual>
      <visual>
        <origin rpy="0.0 ${PI_2} 0.0" xyz="0.003 0.0 0.0"/>
        <geometry>
          <cylinder length="0.006" radius="0.00035"/>
        </geometry>
        <material name="wrist_yaw_frame_x">
          <color rgba="1.0 0.0 0.0 1.0"/>
        </material>
      </visual>
      <visual>
        <origin rpy="-${PI_2} 0.0 0.0" xyz="0.0 0.003 0.0"/>
        <geometry>
          <cylinder length="0.006" radius="0.00035"/>
        </geometry>
        <material name="wrist_yaw_frame_y">
          <color rgba="0.0 1.0 0.0 1.0"/>
        </material>
      </visual>
      <visual>
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.003"/>
        <geometry>
          <cylinder length="0.006" radius="0.00035"/>
        </geometry>
        <material name="wrist_yaw_frame_z">
          <color rgba="0.0 0.0 1.0 1.0"/>
        </material>
      </visual>
      -->
    </link>
  </xacro:macro>

</robot>
