<?xml version="1.0" ?>
<robot name="dvrk_psm" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="arm" default="$(arg arm)"/>
  <xacro:arg name="parent_link_" default="world"/>
  <xacro:property name="parent_link" default="$(arg parent_link_)"/>

  <xacro:include filename="$(find dvrk_model)/urdf/Classic/ecm_base.urdf.xacro"/>

  <link name="${parent_link}"/>
  <xacro:ecm_base
      prefix="${arm}_"
      parent_link="${parent_link}"/>

</robot>
