<?xml version="1.0" ?>
<robot name="ECM" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Colors -->
  <xacro:include filename="$(find dvrk_model)/urdf/common.urdf.xacro"/>

  <!-- Macro for da Vinci Endoscope Camera Manipulator (ECM) -->
  <xacro:macro name="ecm_base" params="prefix parent_link xyz:='-0.612599 0.0 -0.101595' rpy:='0.0 0.0 0.0'">
    <!-- Joint 0: Fixed to Setup Joint-->
    <joint name="fixed_joint" type="fixed">
      <parent link="${parent_link}"/>
      <child link="${prefix}base_link"/>
      <origin rpy="${rpy}" xyz="${xyz}"/>
    </joint>

    <link
      name="${prefix}base_link">
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://dvrk_model/meshes/arms/Classic/ECM/ECM_base.stl" />
        </geometry>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://dvrk_model/meshes/arms/Classic/ECM/ECM_base.stl" />
        </geometry>
      </collision>
    </link>
    <link
      name="${prefix}yaw_link">
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://dvrk_model/meshes/arms/Classic/ECM/ECM_yaw.stl" />
        </geometry>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://dvrk_model/meshes/arms/Classic/ECM/ECM_yaw.stl" />
        </geometry>
      </collision>
    </link>
    <joint
      name="yaw"
      type="revolute">
      <origin
        xyz="0.0731999999999783 0 0.101460000000185"
        rpy="${PI_2} 0 ${PI_2}" />
      <parent
        link="${prefix}base_link" />
      <child
        link="${prefix}yaw_link" />
      <axis
        xyz="0 0 1" />
      <limit
        lower="-1.595183"
        upper="1.581733"
        effort="1000"
        velocity="10" />
    </joint>
    <link
      name="${prefix}pitch_front_link">
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://dvrk_model/meshes/arms/Classic/ECM/ECM_pitch_front.stl" />
        </geometry>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://dvrk_model/meshes/arms/Classic/ECM/ECM_pitch_front.stl" />
        </geometry>
      </collision>
    </link>
    <joint
      name="pitch"
      type="revolute">
      <origin
        xyz="0 0 0.199000000000014"
        rpy="${PI} -${PI_2} 0" />
      <parent
        link="${prefix}yaw_link" />
      <child
        link="${prefix}pitch_front_link" />
      <axis
        xyz="0 0 1" />
      <limit
        lower="-0.783710"
        upper="1.157657"
        effort="1000"
        velocity="10" />
    </joint>
    <link
      name="${prefix}pitch_bottom_link">
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://dvrk_model/meshes/arms/Classic/ECM/ECM_pitch_bottom.stl" />
        </geometry>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://dvrk_model/meshes/arms/Classic/ECM/ECM_pitch_bottom.stl" />
        </geometry>
      </collision>
    </link>
    <joint
      name="pitch_bottom"
      type="revolute">
      <origin
        xyz="-0.103000865501078 -0.286804989831434 0"
        rpy="0 0 0" />
      <parent
        link="${prefix}pitch_front_link" />
      <child
        link="${prefix}pitch_bottom_link" />
      <axis
        xyz="0 0 1" />
      <limit
        lower="-1.157657"
        upper="0.783710"
        effort="1000"
        velocity="10" />
      <mimic joint="pitch" multiplier="-1"/>
    </joint>
    <link
      name="${prefix}pitch_end_link">
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://dvrk_model/meshes/arms/Classic/ECM/ECM_pitch_end.stl" />
        </geometry>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://dvrk_model/meshes/arms/Classic/ECM/ECM_pitch_end.stl" />
        </geometry>
      </collision>
    </link>
    <joint
      name="pitch_end"
      type="revolute">
      <origin
        xyz="0.340400072983362 -0.000135620545844151 0"
        rpy="0 0 0" />
      <parent
        link="${prefix}pitch_bottom_link" />
      <child
        link="${prefix}pitch_end_link" />
      <axis
        xyz="0 0 1" />
      <limit
        lower="-0.783710"
        upper="1.157657"
        effort="1000"
        velocity="10" />
      <mimic joint="pitch" multiplier="1"/>
    </joint>
    <!-- tool_parent_link — boundary link; ECM_instrument attaches here. -->
    <link
      name="${prefix}tool_parent_link">
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://dvrk_model/meshes/arms/Classic/ECM/ECM_main_insertion.stl" />
        </geometry>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://dvrk_model/meshes/arms/Classic/ECM/ECM_main_insertion.stl" />
        </geometry>
      </collision>
    </link>
    <joint
      name="insertion"
      type="prismatic">
      <origin
        xyz="0.042 -0.086143 0"
        rpy="-${PI_2} 0 0" />
      <parent
        link="${prefix}pitch_end_link" />
      <child
        link="${prefix}tool_parent_link" />
      <axis
        xyz="0 0 1" />
      <limit
        lower="0"
        upper="0.254193"
        effort="50"
        velocity="100" />
    </joint>
    <link
      name="${prefix}pitch_top_link">
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://dvrk_model/meshes/arms/Classic/ECM/ECM_pitch_top.stl" />
        </geometry>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://dvrk_model/meshes/arms/Classic/ECM/ECM_pitch_top.stl" />
        </geometry>
      </collision>
    </link>
    <joint
      name="pitch_top"
      type="revolute">
      <origin
        xyz="-0.10847228839493 -0.324257434492051 0"
        rpy="0 0 0" />
      <parent
        link="${prefix}pitch_front_link" />
      <child
        link="${prefix}pitch_top_link" />
      <axis
        xyz="0 0 1" />
      <limit
        lower="-1.157657"
        upper="0.783710"
        effort="1000"
        velocity="10" />
      <mimic joint="pitch" multiplier="-1"/>
    </joint>
    <link
      name="${prefix}pitch_back_link">
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://dvrk_model/meshes/arms/Classic/ECM/ECM_pitch_back.stl" />
        </geometry>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://dvrk_model/meshes/arms/Classic/ECM/ECM_pitch_back.stl" />
        </geometry>
      </collision>
    </link>
    <joint
      name="pitch_back"
      type="revolute">
      <origin
        xyz="0 -0.00979999999999302 0.162430000000002"
        rpy="${PI} -${PI_2} 0" />
      <parent
        link="${prefix}yaw_link" />
      <child
        link="${prefix}pitch_back_link" />
      <axis
        xyz="0 0 1" />
      <limit
        lower="-0.783710"
        upper="1.157657"
        effort="1000"
        velocity="10" />
      <mimic joint="pitch" multiplier="1"/>
    </joint>
    <link
      name="${prefix}remote_center_link">
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://dvrk_model/meshes/arms/Classic/ECM/ECM_RCM.stl" />
        </geometry>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://dvrk_model/meshes/arms/Classic/ECM/ECM_RCM.stl" />
        </geometry>
      </collision>
    </link>
    <joint
      name="remote_center"
      type="fixed">
      <origin
        xyz="0.612599207482277 0 0.10159534323531"
        rpy="0 0 -${PI_2}" />
      <parent
        link="${prefix}base_link" />
      <child
        link="${prefix}remote_center_link" />
      <axis
        xyz="0 0 0" />
    </joint>
  </xacro:macro>

</robot>
