<?xml version="1.0" ?>
<robot name="PSM2" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="instrument" default="400049"/>

  <xacro:include filename="$(find dvrk_model)/urdf/Classic/PSM_base.urdf.xacro"/>
  <xacro:include filename="$(find dvrk_model)/urdf/common/PSM_instrument.urdf.xacro"/>

  <link name="world"/>

  <xacro:base prefix="PSM2_"
                  parent_link="world"
                  xyz="-0.25 0.0 0.5" rpy="0.0 0.0 ${PI}"/>

  <xacro:PSM_instrument prefix="PSM2_"
                        parent_link="PSM2_PSM_tool_parent_link"
                        instrument="$(arg instrument)"/>

</robot>
