<?xml version="1.0" encoding="utf-8"?>
<robot name="dvrk_endoscope_classic_sd_straight" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find dvrk_model)/urdf/common.urdf.xacro"/>

  <xacro:macro name="endoscope"
               params="prefix:='ECM_' parent_link:='ECM_tool_parent_link'">
    <joint name="roll" type="revolute">
      <origin xyz="0.0609999999999996 0 0" rpy="0 0 0"/>
      <parent link="${parent_link}"/>
      <child  link="${prefix}tool_link"/>
      <axis xyz="0 0 -1"/>
      <limit lower="-1.552676" upper="1.566741" effort="1000" velocity="10"/>
    </joint>

    <link name="${prefix}tool_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://dvrk_model/meshes/endoscopes/Classic_SD_straight/ECM_tool.stl"/>
        </geometry>
        <material name="DaVinciLightGray"><color rgba="0.7 0.7 0.7 1"/></material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://dvrk_model/meshes/endoscopes/Classic_SD_straight/ECM_tool.stl"/>
        </geometry>
      </collision>
    </link>

    <link name="${prefix}end_link"/>
    <joint name="end_joint" type="fixed">
      <origin xyz="0 0 0.37364" rpy="0 0 0"/>
      <parent link="${prefix}tool_link"/>
      <child  link="${prefix}end_link"/>
    </joint>
  </xacro:macro>

</robot>