<?xml version="1.0" encoding="utf-8"?>
<robot name="dvrk_endoscope_si_straight" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find dvrk_model)/urdf/common.urdf.xacro"/>

  <!--
    Si straight endoscope.
    Attaches to ${prefix}roll_link (last link of ECM_base).
    Provides its own meshes and a fixed camera tip reference frame.

    Future variants Si_down and Si_up will add a 30-degree rotation
    before the endoscope_tip joint.
  -->
  <xacro:macro name="endoscope"
               params="prefix:='ECM_' parent_link:='ECM_roll_link'">

    <!-- Endoscope body: housing + shaft + camera tip, fixed to roll_link -->
    <joint name="endoscope_body" type="fixed">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <parent link="${parent_link}"/>
      <child  link="${prefix}endoscope_body_link"/>
    </joint>
    <link name="${prefix}endoscope_body_link">
      <visual>
        <!-- z=0.2577 compensates for roll_link moving 0.2577 m further above RCM -->
        <!-- housing -->
        <origin rpy="-1.5708 0.0 -1.5708" xyz="0.0 0.0 0.2577"/>
        <geometry>
          <mesh filename="package://dvrk_model/meshes/endoscopes/Si_straight/ECM_housing.stl"/>
        </geometry>
      </visual>
      <visual>
        <!-- shaft -->
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0417"/>
        <geometry>
          <mesh filename="package://dvrk_model/meshes/endoscopes/Si_straight/ECM_shaft.stl"/>
        </geometry>
        <material name=""><color rgba="0.79216 0.81961 0.93333 1"/></material>
      </visual>
      <visual>
        <!-- camera -->
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.2577"/>
        <geometry>
          <mesh filename="package://dvrk_model/meshes/endoscopes/Si_straight/ECM_roll.stl"/>
        </geometry>
      </visual>
      <collision>
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0417"/>
        <geometry>
          <mesh filename="package://dvrk_model/meshes/endoscopes/Si_straight/ECM_shaft.stl"/>
        </geometry>
      </collision>
    </link>

    <!-- Convert from roll_link into camera reference frame -->
    <joint name="endoscope_frame" type="fixed">
      <origin rpy="-1.5708 -1.5708 0.0" xyz="0.0 0.0 0.0"/>
      <parent link="${prefix}endoscope_body_link"/>
      <child  link="${prefix}endoscope_frame_link"/>
    </joint>
    <link name="${prefix}endoscope_frame_link"/>

    <!-- Offset to physical camera tip -->
    <joint name="endoscope_tip" type="fixed">
      <origin xyz="0.0 0.0102 0.0" rpy="0.0 0.0 0.0"/>
      <parent link="${prefix}endoscope_frame_link"/>
      <child  link="${prefix}endoscope_tip_link"/>
    </joint>
    <link name="${prefix}endoscope_tip_link"/>

  </xacro:macro>

</robot>