<?xml version="1.0" encoding="utf-8"?>
<robot name="dvrk_instrument_006_tip" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="tool_tip_006" params="prefix parent_link is_si:=false">
    <joint name="jaw" type="revolute">
      <parent link="${parent_link}"/>
      <child  link="${prefix}jaw_link"/>
      <axis xyz="0.0 0.0 1"/>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <limit lower="0" upper="${PI_2}" velocity=".4" effort="1000"/>
    </joint>

    <link name="${prefix}jaw_link">
      <visual>
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
        <geometry><box size="0 0 0"/></geometry>
      </visual>
    </link>

    <joint name="jaw_1" type="revolute">
      <parent link="${parent_link}"/>
      <child  link="${prefix}jaw_1_link"/>
      <axis xyz="0.0 0.0 1"/>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <limit lower="-1.5707" upper="1.5707" velocity=".4" effort="1000"/>
      <mimic joint="jaw" multiplier="0.5"/>
    </joint>

    <link name="${prefix}jaw_1_link">
      <visual>
        <xacro:if value="${is_si}">
          <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
          <geometry>
            <mesh filename="package://dvrk_model/meshes/instruments/Si/tip/PSM_006_jaw_1.OBJ"/>
          </geometry>
        </xacro:if>
        <xacro:unless value="${is_si}">
          <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
          <geometry>
            <mesh filename="package://dvrk_model/meshes/instruments/Classic/tip/PSM_006_jaw.dae"/>
          </geometry>
        </xacro:unless>
      </visual>
    </link>

    <joint name="jaw_2" type="revolute">
      <parent link="${parent_link}"/>
      <child  link="${prefix}jaw_2_link"/>
      <axis xyz="0.0 0.0 1"/>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <limit lower="-1.5707" upper="1.5707" velocity=".4" effort="1000"/>
      <mimic joint="jaw" multiplier="-0.5"/>
    </joint>

    <link name="${prefix}jaw_2_link">
      <visual>
        <xacro:if value="${is_si}">
          <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
          <geometry>
            <mesh filename="package://dvrk_model/meshes/instruments/Si/tip/PSM_006_jaw_2.OBJ"/>
          </geometry>
        </xacro:if>
        <xacro:unless value="${is_si}">
          <origin rpy="0.0 ${PI} 0.0" xyz="0.0 0.0 0.0"/>
          <geometry>
            <mesh filename="package://dvrk_model/meshes/instruments/Classic/tip/PSM_006_jaw.dae"/>
          </geometry>
        </xacro:unless>
      </visual>
    </link>

    <joint name="tool_tip" type="fixed">
      <parent link="${parent_link}"/>
      <child  link="${prefix}tool_tip_link"/>
      <origin rpy="0.0 ${PI/2} ${PI/2}" xyz="0.0 0.0102 0.0"/>
    </joint>
    <link name="${prefix}tool_tip_link"/>
  </xacro:macro>

</robot>
