<?xml version="1.0" encoding="utf-8"?>
<robot name="dvrk_instrument_tip_309" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find dvrk_model)/urdf/common.urdf.xacro"/>

  <xacro:macro name="tip_309" params="prefix">

    <joint name="jaw" type="revolute">
      <parent link="${prefix}wrist_yaw_link"/>
      <child link="${prefix}jaw_link"/>
      <axis xyz="0.0 0.0 1"/>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <limit lower="-0.349066" upper="1.5708" velocity=".4" effort="1000"/>
    </joint>

    <link name="${prefix}jaw_link">
      <visual>
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
        <geometry>
          <box size="0 0 0"/>
        </geometry>
      </visual>
    </link>


    <joint name="jaw_1" type="revolute">
      <parent link="${prefix}wrist_yaw_link"/>
      <child link="${prefix}jaw_1_link"/>
      <axis xyz="0.0 0.0 1"/>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <limit lower="-0.349066" upper="1.5708" velocity=".4" effort="1000"/>
      <mimic joint="jaw" multiplier="-0.5"/>
    </joint>


    <link name="${prefix}jaw_1_link">
      <visual>
        <origin
          rpy="0.0 0.0 ${PI}"
          xyz="0.0 0.0108 0.0"/>
        <geometry>
          <mesh
            filename="package://dvrk_model/meshes/instruments/tip/309/tip_309_1.obj"
            scale="0.1 0.1 0.1"/>
        </geometry>
      </visual>
    </link>


    <joint name="jaw_2" type="revolute">
      <parent link="${prefix}wrist_yaw_link"/>
      <child link="${prefix}jaw_2_link"/>
      <axis xyz="0.0 0.0 1"/>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <limit lower="-0.349066" upper="1.5708" velocity=".4" effort="1000"/>
      <mimic joint="jaw" multiplier="0.5"/>
    </joint>


    <link name="${prefix}jaw_2_link">
      <visual>
        <origin
          rpy="0.0 0.0 ${PI}" xyz="0.0 0.0108 0.0"/>
        <geometry>
          <mesh
            filename="package://dvrk_model/meshes/instruments/tip/309/tip_309_2.obj"
            scale="0.1 0.1 0.1"/>
        </geometry>
      </visual>
    </link>


    <joint name="tool_tip" type="fixed">
      <parent link="${prefix}wrist_yaw_link"/>
      <child link="${prefix}tool_tip_link"/>
      <origin
        rpy="0.0 ${PI_2} ${PI_2}"
        xyz="0.0 0.0155 -0.0016"/>
    </joint>

    <link name="${prefix}tool_tip_link"/>

  </xacro:macro>

</robot>