<?xml version="1.0" encoding="utf-8"?>
<robot name="dvrk_psm_006_wrist" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="PSM_wrist_006" params="prefix parent_link is_si:=false">
    <joint name="wrist_pitch" type="revolute">
      <parent link="${parent_link}"/>
      <child  link="${prefix}wrist_006_pitch_link"/>
      <axis xyz="0 0 1"/>
      <origin rpy="-${PI_2} -${PI_2} 0" xyz="0 0 0"/>
      <limit lower="-${PI_2}" upper="${PI_2}" velocity=".4" effort="1000"/>
    </joint>

    <link name="${prefix}wrist_006_pitch_link">
      <visual>
        <xacro:if value="${is_si}">
          <origin rpy="0 0 0" xyz="0 0 0"/>
          <geometry>
            <mesh filename="package://dvrk_model/meshes/instruments/Si/pitch/PSM_006_pitch.OBJ"/>
          </geometry>
        </xacro:if>
        <xacro:unless value="${is_si}">
          <origin rpy="${PI_2} ${PI} 0" xyz="0.0051 0.0032 0"/>
          <geometry>
            <mesh filename="package://dvrk_model/meshes/instruments/Classic/pitch/PSM_006_pitch.dae"/>
          </geometry>
        </xacro:unless>
      </visual>
    </link>

    <joint name="wrist_yaw" type="revolute">
      <parent link="${prefix}wrist_006_pitch_link"/>
      <child  link="${prefix}wrist_006_yaw_link"/>
      <axis xyz="0 0 1"/>
      <origin rpy="-${PI_2} -${PI_2} 0" xyz="0.0091 0 0"/>
      <limit lower="-1.3963" upper="1.3963" velocity=".4" effort="1000"/>
    </joint>

    <link name="${prefix}wrist_006_yaw_link">
      <visual>
        <xacro:if value="${is_si}">
          <origin rpy="0 0 0" xyz="0 0 -0.000236"/>
          <geometry>
            <mesh filename="package://dvrk_model/meshes/instruments/Si/yaw/PSM_006_yaw.OBJ"/>
          </geometry>
        </xacro:if>
        <xacro:unless value="${is_si}">
          <origin rpy="0 0 0" xyz="0 -0.0002 -0.0025"/>
          <geometry>
            <mesh filename="package://dvrk_model/meshes/instruments/Classic/yaw/PSM_006_yaw.dae"/>
          </geometry>
        </xacro:unless>
      </visual>
    </link>
  </xacro:macro>

</robot>