<?xml version="1.0" ?>
<robot name="ECM" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="tool_name" default="SF826001"/>
  <xacro:property name="arm" default="$(arg arm)"/>
  <xacro:arg name="parent_link_" default="world"/>
  <xacro:property name="parent_link" default="$(arg parent_link_)"/>

  <xacro:include filename="$(find dvrk_model)/urdf/Si/psm_base.urdf.xacro"/>
  <xacro:include filename="$(find dvrk_model)/urdf/Si/psm_tool.urdf.xacro"/>

  <link name="${parent_link}"/>
  <xacro:psm_base
      prefix="${arm}_"
      parent_link="${parent_link}"/>
  <xacro:psm_tool tool_name="${tool_name}" prefix="${arm}_" parent_link="${arm}_tool_parent"/>

</robot>
