<?xml version="1.0" ?>
<robot name="PSM1" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!--
    Si PSM1 entry point.
    arg instrument: last 6 digits of instrument model number (default: 420006)
  -->
  <xacro:arg name="instrument" default="420006"/>

  <xacro:include filename="$(find dvrk_model)/urdf/Si/PSM_base.urdf.xacro"/>
  <xacro:include filename="$(find dvrk_model)/urdf/common/PSM_instrument.urdf.xacro"/>

  <link name="world"/>

  <xacro:base prefix="PSM1_"
                  parent_link="world"/>

  <xacro:PSM_instrument prefix="PSM1_"
                        parent_link="PSM1_PSM_tool_parent_link"
                        instrument="$(arg instrument)"/>

</robot>
