<?xml version="1.0" ?>
<robot name="PSM2" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="instrument" default="420006"/>
  <xacro:arg name="is_virtual" default="false"/>
  <xacro:arg name="parent_link_" default="world"/>
  <xacro:property name="parent_link" value="$(arg parent_link_)"/>

  <xacro:include filename="$(find dvrk_model)/urdf/Si/PSM_base.urdf.xacro"/>
  <xacro:include filename="$(find dvrk_model)/urdf/common/instrument.urdf.xacro"/>

  <link name="${parent_link}"/>

  <xacro:base prefix="PSM2_"
                  parent_link="${parent_link}"/>

  <xacro:instrument prefix="PSM2_"
                        instrument="$(arg instrument)"
                        is_virtual="$(arg is_virtual)"/>

</robot>
