<?xml version="1.0" ?>
<robot name="dvrk_si" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="PSM2_" value="PSM2_"/>
    <xacro:property name="PSM2_tool" value="420006"/>

    <xacro:include filename="$(find dvrk_model)/urdf/Si/psm.base.urdf.xacro"/>
    <xacro:include filename="$(find dvrk_model)/urdf/Si/tools.urdf.xacro"/>

    <link name="world"/>
    <xacro:psm_arm_active
        prefix="${PSM2_}"
        parent_link="world"
        xyz="0 0 0"
        rpy="0 0 0"/>
    <xacro:tool tool_name="P420006" prefix="${PSM2_}" parent_link="${PSM2_}tool_parent"/>

</robot>