<?xml version="1.0" ?>
<robot name="PSM3" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="tool_name" value="P420006"/>
  <xacro:property name="PSM3" value="PSM3_">
  <xacro:arg name="parent_link_" default="world"/>
  <xacro:property name="parent_link" default="$(arg parent_link_)"/>
 
  <xacro:include filename="$(find dvrk_model)/urdf/Si/psm_base.urdf.xacro"/>
  <xacro:include filename="$(find dvrk_model)/urdf/Si/tools.urdf.xacro"/>

  <link name="${parent_link}"/>
  <xacro:psm_arm_active
      prefix="${PSM3}"
      parent_link="${parent_link}"/>

  <xacro:tool tool_name="${tool_name}" prefix="${PSM3}" parent_link="${PSM3}tool_parent"/>
</robot>
