<?xml version="1.0" ?>
<robot name="PSM3" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="PSM3_" value="PSM3_"/>
    <xacro:property name="PSM3_tool" value="420006"/>

    <xacro:include filename="$(find dvrk_model)/urdf/Si/psm_base.urdf.xacro"/>
    <xacro:include filename="$(find dvrk_model)/urdf/Si/tools.urdf.xacro"/>

    <link name="world"/>
    <xacro:psm_arm_active
        prefix="${PSM3_}"
        parent_link="world"
        xyz="0 0 0"
        rpy="0 0 0"/>
    <xacro:tool tool_name="P420006" prefix="${PSM3_}" parent_link="${PSM3_}tool_parent"/>

</robot>
