<?xml version="1.0"?>
<robot name="dvrk_si" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="suj_tower">
        <link name="world"/>
        <joint
            name="world_fixed"
            type="fixed">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <parent link="world" />
            <child link="SUJ_tower" />
        </joint>

        <link name="SUJ_tower">
            <inertial>
            <origin
                xyz="-1.969E-09 2.3996E-09 0.80012"
                rpy="0 0 0" />
            <mass value="71.07" />
            <inertia
                ixx="16.038"
                ixy="-5.7683E-10"
                ixz="8.3859E-08"
                iyy="16.017"
                iyz="-1.008E-07"
                izz="0.56653" />
            </inertial>
            <visual>
            <origin
                xyz="0 0 0"
                rpy="0 0 0" />
            <geometry>
                <mesh
                filename="package://dvrk_model/meshes/Si/tower.STL" />
            </geometry>
            <material
                name="">
                <color
                rgba="0.79216 0.81961 0.93333 1" />
            </material>
            </visual>
            <collision>
            <origin
                xyz="0 0 0"
                rpy="0 0 0" />
            <geometry>
                <mesh
                filename="package://dvrk_model/meshes/Si/tower.STL" />
            </geometry>
            </collision>
        </link>
    </xacro:macro>
</robot>