<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <arg name="generation"/>
  <arg name="simulated"
       default="True"/>

  <!-- dVRK console -->
  <arg name="_console"
       if="$(eval generation == 'Classic')"
       default="$(find dvrk_config)/console/console-patient-cart-classic-simulated.json"/>
  <arg name="_console"
       unless="$(eval generation == 'Classic')"
       default="$(find dvrk_config)/console/console-patient-cart-si-simulated.json"/>

  <!-- state publishers -->
  <!-- SUJs -->
  <arg name="_urdf" default="$(find dvrk_model)/urdf/$(arg generation)/SUJ.urdf.xacro"/>
  <group ns="SUJ">
    <arg name="rate"
         default="20"/>
    <param name="robot_description"
           command="rosrun xacro xacro $(arg _urdf)"/>
    <param name="rate"
           value="$(arg rate)"/>
    <rosparam param="source_list" subst_value="True">
      [/SUJ/PSM1/measured_js, /SUJ/PSM2/measured_js, /SUJ/PSM3/measured_js]
    </rosparam>
    <node name="joint_state_publisher"
          pkg="joint_state_publisher"
          type="joint_state_publisher"/>

    <node name="robot_state_publisher"
          pkg="robot_state_publisher"
          type="robot_state_publisher"/>
  </group>

  <!-- active arms -->
  <include file="$(find dvrk_model)/launch/arm_state_publishers.launch">
    <arg name="generation"
         value="$(arg generation)"/>
    <arg name="arm"
         value="PSM1"/>
    <arg name="urdf_file"
         value="psm"/>
    <arg name="suj"
         value="True"/>
  </include>

  <include file="$(find dvrk_model)/launch/arm_state_publishers.launch">
    <arg name="generation"
         value="$(arg generation)"/>
    <arg name="arm"
         value="PSM2"/>
    <arg name="urdf_file"
         value="psm"/>
    <arg name="suj"
         value="True"/>
  </include>

  <include file="$(find dvrk_model)/launch/arm_state_publishers.launch">
    <arg name="generation"
         value="$(arg generation)"/>
    <arg name="arm"
         value="PSM3"/>
    <arg name="urdf_file"
         value="psm"/>
    <arg name="suj"
         value="True"/>
  </include>

  <include file="$(find dvrk_model)/launch/arm_state_publishers.launch">
    <arg name="generation"
         value="$(arg generation)"/>
    <arg name="arm"
         value="ECM"/>
    <arg name="urdf_file"
         value="psm"/>
    <arg name="suj"
         value="True"/>
  </include>

  <!-- rviz -->
  <node name="rviz"
        pkg="rviz"
        type="rviz"
        args="-d $(find dvrk_model)/rviz/$(arg generation)/patient_cart.rviz"/>


  <node name="dvrk_patient_cart_node"
        if="$(arg simulated)"
        pkg="dvrk_robot"
        type="dvrk_console_json"
        args="-j $(arg _console) "
        output="screen"/>

</launch>
