<?xml version="1.0" encoding="utf-8"?>
<robot name="dvrk_instrument_housing" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find dvrk_model)/urdf/common.urdf.xacro"/>

  <xacro:macro name="instrument_housing"
               params="prefix parent_link housing_family:=Classic">
    <xacro:property name="is_si_housing" value="${housing_family == 'Si'}"/>
    <joint name="${prefix}housing_fixed" type="fixed">
      <parent link="${parent_link}"/>
      <child  link="${prefix}housing_link"/>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
    </joint>

    <link name="${prefix}housing_link">
      <visual>
        <xacro:if value="${is_si_housing}">
          <origin rpy="0.0 ${-PI_2} ${PI_2}" xyz="0.0 0.0 0.0"/>
          <geometry>
            <mesh filename="package://dvrk_model/meshes/instruments/Si/housing/PSM_housing.OBJ"/>
          </geometry>
        </xacro:if>
        <xacro:unless value="${is_si_housing}">
          <origin rpy="0.0 0.0 ${PI_2}" xyz="0.0 0.0 0.0904"/>
          <geometry>
            <mesh filename="package://dvrk_model/meshes/instruments/Classic/housing/PSM_housing.dae"/>
          </geometry>
        </xacro:unless>
      </visual>
      <collision>
        <xacro:if value="${is_si_housing}">
          <origin rpy="0.0 ${-PI_2} ${PI_2}" xyz="0.0 0.0 0.0"/>
          <geometry>
            <mesh filename="package://dvrk_model/meshes/instruments/Si/housing/PSM_housing.OBJ"/>
          </geometry>
        </xacro:if>
        <xacro:unless value="${is_si_housing}">
          <origin rpy="0.0 0.0 ${PI_2}" xyz="0.0 0.0 0.0904"/>
          <geometry>
            <mesh filename="package://dvrk_model/meshes/instruments/Classic/housing/PSM_housing.dae"/>
          </geometry>
        </xacro:unless>
      </collision>
    </link>

  </xacro:macro>

</robot>
