<?xml version="1.0" encoding="utf-8"?>
<robot name="dvrk_instrument_roll" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="instrument_si_roll_shaft"
               params="prefix parent_link roll_origin">
    <joint name="roll" type="revolute">
      <parent link="${parent_link}"/>
      <child  link="${prefix}roll_link"/>
      <axis xyz="0.0 0.0 1"/>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 ${roll_origin}"/>
      <limit lower="-4.53786" upper="4.53786" velocity=".4" effort="1000"/>
    </joint>

    <link name="${prefix}roll_link">
      <visual>
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 -0.216"/>
        <geometry>
          <mesh filename="package://dvrk_model/meshes/instruments/Si/roll/PSM_roll_8mm.OBJ"/>
        </geometry>
        <material name=""><color rgba="0.79216 0.81961 0.93333 1"/></material>
      </visual>
      <collision>
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 -0.216"/>
        <geometry>
          <mesh filename="package://dvrk_model/meshes/instruments/Si/roll/PSM_roll_8mm.OBJ"/>
        </geometry>
      </collision>
      <visual>
        <origin rpy="0.0 0.0 1.5708" xyz="0.0 0.0 -0.0091"/>
        <geometry>
          <mesh filename="package://dvrk_model/meshes/instruments/Si/roll/PSM_roll_connector_8mm.stl"/>
        </geometry>
      </visual>
      <collision>
        <origin rpy="0.0 0.0 1.5708" xyz="0.0 0.0 -0.0091"/>
        <geometry>
          <mesh filename="package://dvrk_model/meshes/instruments/Si/roll/PSM_roll_connector_8mm.stl"/>
        </geometry>
      </collision>
      <visual>
        <origin rpy="${PI_2} 0.0 0.0" xyz="0.0 0.00401 0.0"/>
        <geometry>
          <mesh filename="package://dvrk_model/meshes/instruments/Si/yaw/PSM_006_yaw.OBJ"/>
        </geometry>
      </visual>
      <collision>
        <origin rpy="${PI_2} 0.0 0.0" xyz="0.0 0.00401 0.0"/>
        <geometry>
          <mesh filename="package://dvrk_model/meshes/instruments/Si/yaw/PSM_006_yaw.OBJ"/>
        </geometry>
      </collision>
    </link>
  </xacro:macro>

  <xacro:macro name="instrument_classic_roll_shaft"
               params="prefix parent_link roll_origin">
    <joint name="roll" type="revolute">
      <parent link="${parent_link}"/>
      <child  link="${prefix}roll_link"/>
      <axis xyz="0.0 0.0 1"/>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 ${roll_origin}"/>
      <limit lower="-4.53786" upper="4.53786" velocity=".4" effort="1000"/>
    </joint>

    <link name="${prefix}roll_link">
      <visual>
        <origin rpy="0.0 0.0 1.5708" xyz="0.0 0.0 -0.0091"/>
        <geometry>
          <mesh filename="package://dvrk_model/meshes/instruments/Classic/roll/PSM_roll.dae"/>
        </geometry>
      </visual>
      <collision>
        <origin rpy="0.0 0.0 1.5708" xyz="0.0 0.0 -0.0091"/>
        <geometry>
          <mesh filename="package://dvrk_model/meshes/instruments/Classic/roll/PSM_roll.dae"/>
        </geometry>
      </collision>
      <visual>
        <origin rpy="${PI_2} 0.0 0.0" xyz="0.0 0.00401 0.0"/>
        <geometry>
          <mesh filename="package://dvrk_model/meshes/instruments/Classic/yaw/PSM_yaw.dae"/>
        </geometry>
      </visual>
      <collision>
        <origin rpy="${PI_2} 0.0 0.0" xyz="0.0 0.00401 0.0"/>
        <geometry>
          <mesh filename="package://dvrk_model/meshes/instruments/Classic/yaw/PSM_yaw.dae"/>
        </geometry>
      </collision>
    </link>
  </xacro:macro>

</robot>
